.text-container {
  white-space: normal;
  margin: auto;
}

.image-container {
  .image {
    width: 200px;
    height: 150px; 
  }
}

.m--auto {
  margin: auto;
}

.row {
  margin: 10px 0;
  text-align: center;
  width: 100%;
}

.cell-container {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
}

.grid-container {
  padding: 20px 40px;
}

.toolbar-container {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}

