<div class="toolbar-container">
  <div class="row">
    <label for="checkbox">Toggle selection mode</label>
    <input id="checkbox" type="checkbox" (change)="onShowCheckboxesChange($event)">
    <!-- <button class="toggle-selection-btn" (click)="toggleSelectionMode()">Toggle selection mode</button> -->
  </div>
  <div class="row">
    <span>Total count of records in the grid: {{ allCount }}</span>
  </div>
  <div class="row">
    <span>Selected records count: {{ selectedCount }}</span>
  </div> 
</div>