.select-all {
  position: absolute;
  top: 26px;
  left: 106px;
  z-index: 100;
}

.ag-header-cell {
  &:first-child {
    display: flex !important;
    justify-content: center !important;
  }
}

.ag-header-row:first-child .ag-header-cell {
  display: flex;
  justify-content: center;
}